body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: Roobert,Helvetica Neue,Helvetica,Arial,sans-serif!important;
  overflow: hidden;
  position: relative;
}

.message-blob {
  border-radius: 8px;
  padding: 10px;
  background-color: #0D2066;
}

#messages {
  margin: 2vh;
  height: 92vh;
  overflow-y: auto;  /*auto scroll*/
  scrollbar-width: none;
  outline: 8vh solid rgba(42, 230, 36, 0.6);
}

/* message is the generated html element from the text */
.message {
  padding: 0.5rem;
}

.message .display-name {
  font-weight: bold;
}

.emoticon {
  /* Prob not the best way to resize emotes */
  height: 5vh;
  width: 5vh;
}